/* geral */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.interface {
    padding: 1% 5%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.logo img {
    width: 100px;
    background-color: white;
    border-radius: .5em;
}

.titulo {
    text-align: center;
    background-color: #8ecae6;
    font-size: 30px;
}

iframe {
    width: 30%;
    height: 40vh;
    border-radius: 1em;
}

#jogos .container {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#jogos .container a {
    width: 15em;
    height: 20em;
    display: flex;
    gap: .5em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #8ecae6;
    padding: 1em;
    text-decoration: none;
    color: black;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .2s;
}

#jogos .container a:hover {
    background-color: #023047;
    color: #8ecae6;
}

#jogos .container a:hover img {
    transform: rotate(360deg);
    border-radius: 1em;
}

#jogos .container a img {
    width: 100%;
    height: 100%;
    transition: 1s;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #023047;
    padding: 1%;
    color: white;
}

header ul {
    display: flex;
    gap: 1em;
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* turmas */
#turmas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

#turmas .interface {
    width: 100%;
}

#turmas .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8ecae6;
    padding: 1em;
    gap: 1em;
    width: 100%;
    border-radius: 1em;
    flex-wrap: wrap;
}


#turmas h2 {
    text-align: center;
    font-size: 50px;
}

#turmas .container article a {
    display: flex;
    justify-content: center;
    font-size: 25px;
    align-items: center;
    text-decoration: none;
    background-color: #caf0f8;
    border-radius: 1em;
    padding: 1em 2.8em;
    transition: ease .2s;
    color: black;
}

#turmas .container article a:hover {
    transform: translateY(-10px);
    background-color: #023047;
    color: #8ecae6;
}

/* 1 ano */
#umano .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
    padding: 1em;
}

#umano .interface {
    padding: 1% 0;
}

#umano a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 1em;
    padding: 1em;
    background-color: #8ecae6;
    border-radius: .5em;
}

#umano a span {
    font-size: 30px;
}

#umano iframe {
    width: 40%;
    height: 50vh;
}

/* 2 ano */
#doisano .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    flex-wrap: wrap;
}

#doisano .interface {
    padding: 1% 0;
}

/* 3 ano */
#tresano .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    flex-wrap: wrap;
}

#tresano .interface {
    padding: 1% 0;
}

#tresano iframe {
    width: 30%;
}